.Input {
   width: 100%;
   padding: 10px;
   box-sizing: border-box;
}

.Label {
   font-size: 12px;
   line-height: 14px;
   letter-spacing: 0.3px;
   text-transform: uppercase;
   display: block;
   color: #303030;
}

.InputElement {
   background: #F9FAFB;
   border: 1px solid #DEDEE0;
   box-sizing: border-box;
   border-radius: 5px;
   font: inherit;
   padding: 19px 10px;
   display: block;
   width: 100%;
   box-sizing: border-box;
}

.InputElement:focus {
   outline: none;
   background-color: #ccc;
}

.Invalid {
   border: 1px solid red;
   background-color: #FDA49A;
}