.Auth {
   margin: 20px auto;
   width: 80%;
   text-align: center;
   padding: 10px;
   box-sizing: border-box;
}

.Auth h3 {
   font-size: 22px;
   margin-bottom: 40px;
}

.Account {
   display: flex;
   align-items: center;
   justify-content: center;
}

@media (min-width: 600px) {
   .Auth {
      width: 425px;
   }
}